body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* margin: 0px; */
    /* box-shadow: ; */
    /* align-items: ; */
}
.btn {
    background-color: #306bac;
    align-self: center;
    width: 100px;
    border: none;
    border: solid black 2px;
    padding: 2px;
    border-radius: 5%;
}
.btn:hover {
    transform: scale(1.02);
}
h3 {
    margin: 16px 0px 16px 0px;
}
header {
    background-color: #98b9f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    height: 6em;
    /* width: auto; */
    padding: 0px 2em;
    border-bottom: solid black 4px;
}
.btn.login {
    /* box-shadow: 5px 5px 15px -5px #000000; */
    padding: 10px;
    border: solid black 3px;
}
.hero {
    padding: 20px;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn.add {
    background-color: #306bac;
    /* padding: 50px */
    height: 75px;
    width: 150px;
    font-size: 1.8em;
    font-weight: bold;
}
.submitCard {
    border-radius: 5%;
    position: fixed;
    top: 105%;
    left: 35%;
    font-size: larger;
    z-index: 1;
    padding: 20px 50px 50px 50px;
    transform: translate(-50%, -50%) scale(0);
    background-color: #306bac;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: center;
    display: none;
}
.cardHeader {
    margin-bottom: 40px;
}
.checkbox {
    margin: 20px
}
.btn.submit {
    margin-top: 20px;
}
.active {
    transform: translate(0%, -130%) scale(1);
    display:flex;
}
.info {
    /* border: solid pink 1px; */
    display: flex;
    justify-content: space-between;
}
.library {
    width: 100%;
    /* height: 100vh; */
    /* border: solid black 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    /* align-content:space-between; */
    padding-top: 20px;
    /* flex: 1, 1, 500px; */
}
.bookCard {
    border-radius: 5%;
    box-shadow: 5px 5px 15px -7px #000000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #6F9CEB;
    padding: 15px;
    text-align: center;
    /* gap: 20px; */
    min-width: 25%;
    height: 230px;
}
.read {
    margin-bottom: 12px;
    margin-top: 5px;
}
.far {
    background-color: #6F9CEB;
    padding: 5px 0px 5px 0px;
    border: none;
    width: auto;
}
.bookCard:hover {
    transform: scale(1.01);
}
footer {
    background-color: #141B41;
    color: white;
    text-align: center;
}